<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App1"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PushReceiverApp"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ActMain"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*"
                    android:scheme="pushreceiverapp" />
            </intent-filter>
        </activity>

        <activity android:name="jp.juggler.pushreceiverapp.ActAlert" />
        <activity android:name="jp.juggler.pushreceiverapp.ActMessage" />
        <activity android:name="jp.juggler.pushreceiverapp.ActAccountList" />

        <receiver
            android:name="jp.juggler.pushreceiverapp.notification.NotificationDeleteReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="jp.juggler.pushreceiverapp.notification.NotificationChannelsInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="jp.juggler.pushreceiverapp.db.AppDatabaseInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="jp.juggler.pushreceiverapp.push.FcmHandlerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="jp.juggler.pushreceiverapp.push.PrefDeviceInitializer"
                android:value="androidx.startup" />

            <!-- WorkManagerの自動初期化をやめる -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name="jp.juggler.pushreceiverapp.push.UpMessageReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE" />
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED" />
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT" />
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/outline_message_24" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorFcmNotification" />

    </application>
</manifest>
